@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebEnterprise_1640.Models.ArticleModel;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div style="
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        letter-spacing: normal;
      ">
        <header style="
          align-self: stretch;
          background-color: #fff;
          box-shadow: 0px -1px 0px #000 inset;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 14px 64px;
          text-align: left;
          font-size: 16px;
          color: #000;
          font-family: Roboto;
        ">
            <div style="
            align-self: stretch;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
          ">
                <div style="
              height: 89px;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              padding: 20px 0px;
              box-sizing: border-box;
              font-size: 25.1px;
              font-family: Inter;
            ">
                    <div style="
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
              ">
                        <b style="position: relative; white-space: nowrap">BEE MAGAZINE</b>
                    </div>
                </div>
                <div style="
              width: 167px;
              overflow: hidden;
              flex-shrink: 0;
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 0px 32px;
            ">
                    <div style="
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 10px;
              ">
                        <div style="position: relative; line-height: 150%">Home</div>
                    </div>
                    <button style="
                cursor: pointer;
                border: none;
                padding: 10px;
                background-color: transparent;
                border-bottom: 1px solid #000;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
              ">
                        <div style="
                  position: relative;
                  font-size: 16px;
                  line-height: 150%;
                  font-family: Roboto;
                  color: #000;
                  text-align: left;
                ">
                            Upload
                        </div>
                    </button>
                </div>
                <div style="
              width: 245px;
              background-color: #fff;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              gap: 0px 32px;
              text-align: center;
            ">
                    <div style="
                height: 36px;
                flex: 1;
                position: relative;
                line-height: 150%;
                display: flex;
                align-items: center;
                justify-content: center;
                white-space: nowrap;
              ">
                        Hi, Ed
                    </div>
                    <div style="
                width: 94px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                text-align: left;
              ">
                        <div style="
                  flex: 1;
                  border-radius: 5px;
                  border: 1px solid #000;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                  padding: 8px 19px;
                  white-space: nowrap;
                ">
                            <div style="position: relative; line-height: 150%">Log out</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section style="
          align-self: stretch;
          background-color: #fff;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 160.5px 64px 154.60000000000036px;
          box-sizing: border-box;
          position: relative;
          gap: 330px 0px;
          max-width: 100%;
          text-align: left;
          font-size: 24px;
          color: #0053d8;
          font-family: Roboto;
        ">
            <div style="
            align-self: stretch;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            max-width: 100%;
          ">
                <div style="
              align-self: stretch;
              background-color: #fff;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              max-width: 100%;
            ">
                    <div style="
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding: 0px 10px;
                box-sizing: border-box;
                gap: 0px 24px;
                min-height: 52px;
                max-width: 100%;
              ">
                        <div style="
                  width: 204px;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                ">
                            <div style="
                    width: 1292px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    min-height: 42px;
                    max-width: 633%;
                    flex-shrink: 0;
                  ">
                                <b style="
                      align-self: stretch;
                      position: relative;
                      line-height: 140%;
                    ">Magazine title:</b>
                            </div>
                        </div>
                        <div style="
                  width: 204px;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: flex-start;
                  color: #000;
                ">
                            <div style="
                    width: 1292px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    min-height: 42px;
                    max-width: 633%;
                    flex-shrink: 0;
                  ">
                                <div style="
                      width: 1051px;
                      position: relative;
                      line-height: 140%;
                      display: inline-block;
                      max-width: 100%;
                    ">
                                    Tech Terrain: Navigating the Digital Landscape
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="
              align-self: stretch;
              background-color: #fff;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              max-width: 100%;
            ">
                    <div style="
                flex: 1;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
                padding: 0px 16px 0px 10px;
                box-sizing: border-box;
                gap: 0px 24px;
                min-height: 52px;
                max-width: 100%;
              ">
                        <div style="
                  width: 252px;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                ">
                            <div style="
                    width: 1292px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    min-height: 42px;
                    max-width: 513%;
                    flex-shrink: 0;
                  ">
                                <h3 style="
                      margin: 0;
                      align-self: stretch;
                      position: relative;
                      font-size: inherit;
                      line-height: 140%;
                      font-weight: 700;
                      font-family: inherit;
                    ">
                                    Magazine description:
                                </h3>
                            </div>
                        </div>
                        <div style="
                  flex: 1;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: flex-start;
                  min-width: 656px;
                  max-width: 100%;
                  color: #000;
                ">
                            <div style="
                    width: 1010px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    min-height: 42px;
                    max-width: 100%;
                  ">
                                <h3 style="
                      margin: 0;
                      width: 1292px;
                      position: relative;
                      font-size: inherit;
                      line-height: 150%;
                      font-weight: 400;
                      font-family: inherit;
                      display: inline-block;
                      max-width: 128%;
                      flex-shrink: 0;
                    ">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Suspendisse varius enim in eros.
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="
              align-self: stretch;
              background-color: #fff;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              max-width: 100%;
              color: #000;
            ">
                    <div style="
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding: 0px 10px;
                box-sizing: border-box;
                gap: 0px 24px;
                min-height: 52px;
                max-width: 100%;
              ">
                        <input style="
                  width: 204px;
                  border: none;
                  outline: none;
                  background-color: transparent;
                  height: 62px;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: center;
                  padding: 10px 0px;
                  box-sizing: border-box;
                  font-family: Roboto;
                  font-weight: 700;
                  font-size: 24px;
                  color: #0053d8;
                "
                               placeholder="Deadline to submit:"
                               type="text" />

                        <div style="
                  width: 204px;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: flex-start;
                ">
                            <div style="
                    width: 1062px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    min-height: 42px;
                    max-width: 521%;
                    flex-shrink: 0;
                  ">
                                <div style="
                      width: 1292px;
                      position: relative;
                      line-height: 150%;
                      white-space: pre-wrap;
                      display: inline-block;
                      max-width: 122%;
                      flex-shrink: 0;
                    ">
                                    Mar-15-2024 11:00 AM
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="
              align-self: stretch;
              background-color: #fff;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              max-width: 100%;
            ">
                    <div style="
                flex: 1;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding: 0px 10px;
                box-sizing: border-box;
                gap: 0px 24px;
                min-height: 52px;
                max-width: 100%;
              ">
                        <div style="
                  height: 63px;
                  width: 1292px;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  padding: 10px 0px;
                  box-sizing: border-box;
                ">
                            <div style="
                    height: 42px;
                    width: 1292px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    max-width: 633%;
                    flex-shrink: 0;
                  ">
                                <b style="
                      width: 190px;
                      position: relative;
                      line-height: 140%;
                      display: inline-block;
                    ">Final deadline:</b>
                            </div>
                        </div>
                        <div style="
                  width: 204px;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  color: #000;
                ">
                            <div style="
                    width: 1054px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    min-height: 42px;
                    max-width: 517%;
                    flex-shrink: 0;
                  ">
                                <div style="
                      width: 1292px;
                      position: relative;
                      line-height: 150%;
                      white-space: pre-wrap;
                      display: inline-block;
                      max-width: 123%;
                      flex-shrink: 0;
                    ">
                                    Mar-20-2024 11:59 PM
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="
            align-self: stretch;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 51.5px 60px 172.39999999999964px 134px;
            box-sizing: border-box;
            position: relative;
            gap: 24px 0px;
            max-width: 100%;
            text-align: center;
            color: #000;
          ">
                <div style="
              align-self: stretch;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 13px 0px;
              max-width: 100%;
              font-size: 25px;
            ">
                    <h3 style="
                margin: 0;
                width: 136px;
                position: relative;
                font-size: inherit;
                line-height: 150%;
                font-weight: 900;
                font-family: inherit;
                display: inline-block;
                z-index: 1;
              ">
                        Ed Sheeran:
                    </h3>
                    <div style="
                align-self: stretch;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0px 0px 0px 4px;
                box-sizing: border-box;
                max-width: 100%;
                text-align: left;
                font-size: 20px;
              ">
                        <div style="
                  flex: 1;
                  position: relative;
                  line-height: 150%;
                  display: inline-block;
                  max-width: 100%;
                  z-index: 1;
                ">
                            <p style="margin: 0">Good point:</p>
                            <ul style="
                    margin: 0;
                    font-family: inherit;
                    font-size: inherit;
                    padding-left: 27px;
                  ">
                                <li style="margin-bottom: 0px">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate velit
                                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                    occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laboru
                                </li>
                            </ul>
                            <p style="margin: 0">Need to improve:</p>
                            <ul style="
                    margin: 0;
                    font-family: inherit;
                    font-size: inherit;
                    padding-left: 27px;
                  ">
                                <li>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt ut labore et dolore magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="
              width: 100%;
              height: 406px;
              position: absolute;
              margin: 0 !important;
              top: 15.5px;
              right: 0px;
              left: 0px;
            ">
                    <img style="
                position: absolute;
                top: 0px;
                left: 0px;
                border-radius: 10px;
                width: 1312px;
                height: 406px;
              "
                         alt=""
                         src="./public/comment-box.svg" />

                    <img style="
                position: absolute;
                top: 25px;
                left: 23px;
                border-radius: 132.5px;
                width: 91px;
                height: 91px;
                object-fit: cover;
                z-index: 1;
              "
                         alt=""
                         src="./public/icon-lecture1@2x.png" />

                    <img style="
                position: absolute;
                top: 355px;
                left: 138px;
                width: 16px;
                height: 16px;
                object-fit: cover;
                z-index: 1;
              "
                         loading="lazy"
                         alt=""
                         src="./public/icon-time@2x.png" />
                </div>
                <div style="
              width: 140px;
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              justify-content: flex-start;
              padding: 0px 28px;
              box-sizing: border-box;
              font-size: 16px;
            ">
                    <div style="
                flex: 1;
                position: relative;
                line-height: 150%;
                font-weight: 300;
                z-index: 1;
              ">
                        1 hour ago
                    </div>
                </div>
                <div style="
              width: 100%;
              margin: 0 !important;
              position: absolute;
              right: -2px;
              bottom: -106.1px;
              border-radius: 10px;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              padding: 10px 0px 71px;
              box-sizing: border-box;
              gap: 27px 0px;
              max-width: 100%;
              z-index: 2;
              text-align: left;
            ">
                    <div style="align-self: stretch; height: 105px; position: relative">
                        <img style="
                  position: absolute;
                  top: 55px;
                  left: 1269px;
                  width: 51px;
                  height: 50px;
                  object-fit: cover;
                "
                             loading="lazy"
                             alt=""
                             src="./public/btn-send@2x.png" />

                        <div style="
                  position: absolute;
                  top: 7px;
                  left: 0.1px;
                  width: 175.3px;
                  height: 18.2px;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: flex-start;
                ">
                            <img style="
                    height: 61px;
                    width: 1257px;
                    position: absolute;
                    margin: 0 !important;
                    right: -1081.6px;
                    bottom: -84.8px;
                    border-radius: 10px;
                  "
                                 alt=""
                                 src="./public/comment-box-1.svg" />

                            <h3 style="
                    margin: 0;
                    height: 105px;
                    width: 1320px;
                    position: relative;
                    font-size: inherit;
                    line-height: 140%;
                    font-weight: 700;
                    font-family: inherit;
                    display: inline-block;
                    flex-shrink: 0;
                    max-width: 753%;
                  ">
                                Add a comment:
                            </h3>
                        </div>
                    </div>
                    <div style="
                width: 1191px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                position: relative;
                max-width: 100%;
                font-size: 22px;
              ">
                        <h3 style="
                  margin: 0;
                  height: 34px;
                  flex: 1;
                  position: relative;
                  font-size: inherit;
                  line-height: 140%;
                  font-weight: 500;
                  font-family: inherit;
                  white-space: pre-wrap;
                  display: inline-block;
                  max-width: 100%;
                ">
                            Anonymous Yes No
                        </h3>
                        <img style="
                  height: 18px;
                  width: 18px;
                  position: absolute;
                  margin: 0 !important;
                  top: 7px;
                  left: 140px;
                  z-index: 1;
                "
                             loading="lazy"
                             alt=""
                             src="./public/btn-yes.svg" />

                        <div style="
                  height: 18px;
                  width: 18px;
                  position: absolute;
                  margin: 0 !important;
                  top: 7px;
                  left: 225px;
                ">
                            <div style="
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    border-radius: 50%;
                    background-color: #4644a0;
                    border: 0px solid #4644a0;
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                  "></div>
                            <div style="
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    border-radius: 50%;
                    background-color: #fff;
                    width: 8px;
                    height: 8px;
                    z-index: 2;
                  "></div>
                        </div>
                    </div>
                </div>
                <div style="
              width: 100%;
              margin: 0 !important;
              position: absolute;
              top: -386.5px;
              right: -7px;
              border-radius: 20px;
              background-color: #f6f6f6;
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              justify-content: flex-start;
              padding: 28px 59px 30.5px 46px;
              box-sizing: border-box;
              gap: 16px;
              z-index: 4;
              text-align: left;
            ">
                    <div style="
                width: 190px;
                height: 38px;
                position: relative;
                display: none;
                font-size: 18px;
                color: #fff;
              ">
                        <img style="
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  border-radius: 5px;
                  width: 190px;
                  height: 38px;
                "
                             alt=""
                             src="./public/rectangle-102.svg" />

                        <b style="
                  position: absolute;
                  top: 5px;
                  left: 13px;
                  line-height: 150%;
                  display: inline-block;
                  width: 175.2px;
                ">Remove Submission</b>
                    </div>
                    <div style="
                width: 167.7px;
                height: 38px;
                position: relative;
                display: none;
                font-size: 18px;
                color: #fff;
              ">
                        <img style="
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  border-radius: 5px;
                  width: 164.8px;
                  height: 38px;
                "
                             alt=""
                             src="./public/rectangle-10-1.svg" />

                        <b style="
                  position: absolute;
                  top: 5px;
                  left: 18.8px;
                  line-height: 150%;
                  display: inline-block;
                  width: 148.9px;
                ">Edit Submission</b>
                    </div>

                    <div style="
                width: 1312px;
                background-color: #cddffc;
                display: none;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                max-width: 100%;
              ">
                        <div style="
                  flex: 1;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  padding: 0px 10px;
                  box-sizing: border-box;
                  gap: 0px 24px;
                  min-height: 52px;
                  max-width: 100%;
                ">
                            <div style="
                    height: 42px;
                    width: 204px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 10px 0px;
                    box-sizing: border-box;
                  ">
                                <div style="
                      height: 42px;
                      width: 1292px;
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      justify-content: flex-start;
                      max-width: 633%;
                      flex-shrink: 0;
                    ">
                                    <b style="
                        width: 190px;
                        position: relative;
                        line-height: 140%;
                        display: inline-block;
                      ">Image File:</b>
                                </div>
                            </div>
                            <div style="
                    width: 641px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    max-width: 100%;
                    font-size: 16px;
                  ">
                                <div style="
                      height: 42px;
                      width: 1063px;
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      justify-content: flex-start;
                      position: relative;
                      gap: 8px 0px;
                      max-width: 166%;
                      flex-shrink: 0;
                    ">
                                    <img style="
                        width: 308px;
                        height: 24px;
                        position: absolute;
                        margin: 0 !important;
                        top: 9px;
                        left: 0px;
                        border-radius: 3px;
                        z-index: 0;
                      "
                                         alt=""
                                         src="./public/rectangle-8.svg" />

                                    <div style="
                        position: absolute;
                        margin: 0 !important;
                        top: 9px;
                        left: 45px;
                        line-height: 150%;
                        z-index: 1;
                      ">
                                        LandingPictureforTechTerrrain.png
                                    </div>
                                    <img style="
                        width: 16px;
                        height: 17px;
                        position: absolute;
                        margin: 0 !important;
                        top: 12px;
                        left: 25px;
                        object-fit: cover;
                        z-index: 2;
                      "
                                         alt=""
                                         src="./public/icon1@2x.png" />

                                    <img style="
                        width: 18px;
                        height: 1px;
                        position: absolute;
                        margin: 0 !important;
                        top: 21px;
                        left: 4px;
                        z-index: 3;
                      "
                                         alt=""
                                         src="./public/line-2.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="
                width: 1312px;
                background-color: #cddffc;
                display: none;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                max-width: 100%;
              ">
                        <div style="
                  flex: 1;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  padding: 0px 10px;
                  box-sizing: border-box;
                  gap: 0px 24px;
                  min-height: 52px;
                  max-width: 100%;
                ">
                            <div style="
                    height: 42px;
                    width: 204px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 10px 0px;
                    box-sizing: border-box;
                  ">
                                <div style="
                      height: 42px;
                      width: 1292px;
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      justify-content: flex-start;
                      max-width: 633%;
                      flex-shrink: 0;
                    ">
                                    <b style="position: relative; line-height: 140%">File submissions:</b>
                                </div>
                            </div>
                            <div style="
                    width: 641px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    max-width: 100%;
                    font-size: 16px;
                  ">
                                <div style="
                      height: 42px;
                      width: 1063px;
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      justify-content: flex-start;
                      position: relative;
                      gap: 8px 0px;
                      max-width: 166%;
                      flex-shrink: 0;
                    ">
                                    <img style="
                        width: 527px;
                        height: 24px;
                        position: absolute;
                        margin: 0 !important;
                        top: 9px;
                        left: 0px;
                        border-radius: 3px;
                        z-index: 0;
                      "
                                         alt=""
                                         src="./public/rectangle-8-1.svg" />

                                    <div style="
                        position: absolute;
                        margin: 0 !important;
                        top: 9px;
                        left: 45px;
                        line-height: 150%;
                        z-index: 1;
                      ">
                                        COMP1640_TechTerrrain:NavigatingtheDigitalLandscape_Draft.doc
                                    </div>
                                    <input style="
                        margin: 0 !important;
                        width: 16px;
                        height: 17px;
                        position: absolute;
                        top: 12px;
                        left: 25px;
                        z-index: 2;
                      "
                                           type="checkbox" />

                                    <img style="
                        width: 18px;
                        height: 1px;
                        position: absolute;
                        margin: 0 !important;
                        top: 21px;
                        left: 4px;
                        z-index: 3;
                      "
                                         alt=""
                                         src="./public/line-2.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="
                width: 1312px;
                background-color: #cddffc;
                display: none;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                max-width: 100%;
              ">
                        <div style="
                  flex: 1;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;
                  padding: 0px 10px;
                  box-sizing: border-box;
                  gap: 0px 24px;
                  min-height: 52px;
                  max-width: 100%;
                ">
                            <div style="
                    height: 42px;
                    width: 204px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 10px 0px;
                    box-sizing: border-box;
                  ">
                                <div style="
                      height: 42px;
                      width: 1292px;
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      justify-content: flex-start;
                      max-width: 633%;
                      flex-shrink: 0;
                    ">
                                    <b style="
                        width: 190px;
                        position: relative;
                        line-height: 140%;
                        display: inline-block;
                      ">Status:</b>
                                </div>
                            </div>
                            <div style="
                    width: 204px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                  ">
                                <div style="
                      width: 1063px;
                      display: flex;
                      flex-direction: column;
                      align-items: flex-start;
                      justify-content: flex-start;
                      min-height: 42px;
                      max-width: 521%;
                      flex-shrink: 0;
                    ">
                                    <div style="
                        width: 1292px;
                        position: relative;
                        line-height: 150%;
                        display: inline-block;
                        max-width: 122%;
                        flex-shrink: 0;
                      ">
                                        Submitted
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <b style="
                width: 1312px;
                position: relative;
                line-height: 140%;
                display: none;
                max-width: 100%;
              ">Feedback, comment</b>
                    <div style="
                width: 1319px;
                height: 826px;
                position: relative;
                border-radius: 20px;
                background-color: #f6f6f6;
                display: none;
                max-width: 100%;
              "></div>
                    <div style="
                align-self: stretch;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0px 0px 20.100000000000364px;
                box-sizing: border-box;
                max-width: 100%;
                text-align: center;
                font-size: 34px;
                color: #4644a0;
              ">
                        <h1 style="
                  margin: 0;
                  flex: 1;
                  position: relative;
                  font-size: inherit;
                  line-height: 42.9px;
                  font-weight: 700;
                  font-family: inherit;
                  display: inline-block;
                  max-width: 100%;
                  z-index: 1;
                ">
                            Edit Submission
                        </h1>
                    </div>
                    <form style="
              margin: 0;
              align-self: stretch;
              border-radius: 10px;
              background-color: #e6e6e6;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              padding: 48px 59px 46.5px 41px;
              box-sizing: border-box;
              gap: 22px;
              max-width: 100%;
            "
                          asp-controller="ArticleModel" asp-action="EditData" class="form-horizontal row-border" method="post" enctype="multipart/form-data">
                        <div style="
                width: 1314px;
                height: 826px;
                position: relative;
                border-radius: 10px;
                background-color: #e6e6e6;
                display: none;
                max-width: 100%;
              "></div>
                        <div style="
                align-self: stretch;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 7.1px 0px;
              ">
                            <h2 style="
                  margin: 0;
                  align-self: stretch;
                  height: 42.9px;
                  position: relative;
                  font-size: 24px;
                  line-height: 140%;
                  font-weight: 700;
                  font-family: Roboto;
                  color: #000;
                  text-align: left;
                  display: inline-block;
                  flex-shrink: 0;
                  z-index: 1;
                ">
                                Title:
                            </h2>
                            <input input asp-for="Name" class="form-control" id="translate_title" name="Name" type="text" value="@Model.Name" style="
                  align-self: stretch;
                  border-radius: 10px;
                  background-color: #fff;
                  border: 1px solid #545454;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: flex-start;
                  padding: 7px 16px;
                  z-index: 1;
                ">
                            <div style="
                    position: relative;
                    font-size: 18px;
                    line-height: 150%;
                    font-family: Roboto;
                    color: #000;
                    text-align: left;
                  ">
                            </div>
                            <input asp-for="Id" class="form-control" id="translate_title" name="Id" type="hidden" value="@Model.Id" />
                        </div>
                        <div style="
                align-self: stretch;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0px 0px 18px;
                box-sizing: border-box;
                gap: 7.1px 0px;
                max-width: 100%;
              ">
                            <h2 style="
                  margin: 0;
                  align-self: stretch;
                  height: 42.9px;
                  position: relative;
                  font-size: 24px;
                  line-height: 140%;
                  font-weight: 700;
                  font-family: Roboto;
                  color: #000;
                  text-align: left;
                  display: inline-block;
                  flex-shrink: 0;
                  z-index: 1;
                ">
                                Description:
                            </h2>
                            <input asp-for="Description" class="form-control" id="translate_urlredirect" name="Description" type="text" style="
                  align-self: stretch;
                  border-radius: 10px;
                  background-color: #fff;
                  border: 1px solid #545454;
                  box-sizing: border-box;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: flex-start;
                  padding: 13px 14px 19px 15px;
                  max-width: 100%;
                  flex-shrink: 0;
                  z-index: 1;
                ">
                            <h3 style="
                    margin: 0;
                    flex: 1;
                    position: relative;
                    font-size: 20px;
                    line-height: 150%;
                    font-weight: 400;
                    font-family: Roboto;
                    color: #000;
                    text-align: left;
                    display: inline-block;
                    max-width: 100%;
                  ">
                            </h3>
                        </div>

                        @*file bat dau*@
                        <div class="column-text-frame-subscriber-e">
                            <h3 class="submit-your-file">Submit your file:</h3>
                            <div class="card9">
                                <div class="confirmation-message">
                                    <div class="thumbnail-parent">
                                        <div class="thumbnail">
                                            <div class="icon2">
                                                <img class="icon3"
                                                     alt=""
                                                     src="./public/icon-2@2x.png" />

                                                <img class="icon-child"
                                                     alt=""
                                                     src="./public/line-2-2.svg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="thumbnail-group">
                                        @foreach (var file in ViewBag.File)
                                        {
                                            <div class="comp1640-techterrrainnavigati2">


                                                <a href="~/media/@file.File" download="@file.File">@file.File</a>  <a style="color:red" href="@Url.Action("DeleteView","ArticleModel", new {id = @file.Id})"><i class="fa fa-times-circle" aria-hidden="true"></i></a>



                                            </div>
                                        }
                                        <span id="viewFileName"></span> <span style="color:red"><i id="deleteFile" class="fa fa-times-circle" aria-hidden="true"></i></span>
                                        <input style="display:none" onchange="loadNameFile(event)" id="inputFile" style="color:black" name="file" type="file" />
                                    </div>
                                </div>
                                <div class="edit-submission-frame">
                                    <div class="btn-change">
                                        <img class="btn-file-icon"
                                             alt=""
                                             src="./public/btn-file.svg" />

                                        <div id="btnUpfile" style="cursor:pointer" class="add-file">Add file</div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="submit-image-frame">
                            <h3 class="submit-image">Submit image:</h3>
                            <div class="card10">
                                <div class="frame-parent">
                                    <div class="frame-wrapper">
                                        <div class="icon-parent">
                                            <img class="icon6" alt="" src="./public/icon-4@2x.png" />

                                            <img class="frame-child"
                                                 alt=""
                                                 src="./public/line-2-4.svg" />
                                        </div>
                                    </div>
                                    <div class="landingpicturefortechterrrain1">
                                        @foreach (var file2 in ViewBag.File)
                                        {
                                            <a href="~/media/@file2.Image" download="@file2.Image">@file2.Image</a>  <a style="color:red" href="@Url.Action("DeleteView","ArticleModel", new {id = @file2.Id})"><i class="fa fa-times-circle" aria-hidden="true"></i></a>

                                        }
                                        <span id="viewImgName"></span> <span style="color:red"><i id="deleteImg" class="fa fa-times-circle" aria-hidden="true"></i></span>
                                        <input style="display:none" onchange="loadImgFile(event)" id="inputImg" style="color:black" name="file" type="file" />

                                    </div>
                                </div>
                                <div class="btn-change-parent">
                                    <div class="btn-change1">
                                        <img class="btn-change-icon"
                                             alt=""
                                             src="./public/btn-file.svg" />

                                        <div id="btnImgfile" class="add-file1">Add file</div>
                                    </div>
                                    <div class="btn-x-wrapper">
                                        <img class="btn-x-icon2"
                                             alt=""
                                             src="./public/btn-x@2x.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        /*end*/
                        <div style="


                width: 212px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 0px 30px;
                text-align: center;
                font-size: 16px;
                color: #fff;
              ">
                            @* href="@Url.Action("EditData","ArticleModel", new {id = @Model.Id})" *@
                            <button type="submit" style="
                  flex: 1;
                  border-radius: 20px;
                  background-color: #4644a0;
                  display: flex;
                  flex-direction: row;
                  align-items: flex-start;
                  justify-content: flex-start;
                  padding: 1px 0px 0.5px;
                  z-index: 1;
                ">
                                <div style="
                    height: 41.5px;
                    width: 91px;
                    position: relative;
                    border-radius: 20px;
                    background-color: #4644a0;
                    display: none;
                  "></div>
                                <b style="
                    height: 40px;
                    flex: 1;
                    position: relative;
                    line-height: 150%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    color :white
                  ">Confirm</b>
                            </button>
                            <div style="
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  padding: 1px 0px 0px;
                ">
                                <div style="
                    align-self: stretch;
                    border-radius: 20px;
                    background-color: #a2a1a2;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 0px 0px 0.5px;
                    z-index: 1;
                  ">
                                    <div style="
                      height: 41.5px;
                      width: 91px;
                      position: relative;
                      border-radius: 20px;
                      background-color: #a2a1a2;
                      display: none;
                    "></div>
                                    <b style="
                      height: 41px;
                      flex: 1;
                      position: relative;
                      line-height: 150%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      z-index: 1;
                    ">Cancel</b>
                                </div>
                            </div>
                        </div>
                    </form>



                </div>
            </div>
            <div style="
            width: 100%;
            height: 100%;
            position: absolute;
            margin: 0 !important;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-color: rgba(101, 101, 101, 0.5);
            backdrop-filter: blur(4px);
            z-index: 3;
          "></div>
        </section>
        <footer style="
          align-self: stretch;
          background-color: #000;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 80px 64px;
          box-sizing: border-box;
          gap: 80px 0px;
          max-width: 100%;
          text-align: left;
          font-size: 25.1px;
          color: #fff;
          font-family: Inter;
        ">
            <div style="
            align-self: stretch;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0px 92px 0px 0px;
            box-sizing: border-box;
            row-gap: 20px;
            max-width: 100%;
          ">
                <div style="
              width: 500px;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              max-width: 100%;
            ">
                    <div style="
                height: 88px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding: 20px 0px;
                box-sizing: border-box;
              ">
                        <div style="
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;
                ">
                            <b style="position: relative">COMP1640</b>
                        </div>
                    </div>
                </div>
                <div style="
              flex: 1;
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 0px 40px;
              min-width: 468px;
              min-height: 248px;
              max-width: 100%;
              font-size: 16px;
              font-family: Roboto;
            ">
                    <div style="
                flex: 1;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 16px 0px;
                min-width: 221px;
                max-width: 100%;
              ">
                        <div style="
                  align-self: stretch;
                  position: relative;
                  line-height: 150%;
                  font-weight: 600;
                ">
                            About Us
                        </div>
                        <div style="
                  align-self: stretch;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  max-width: 100%;
                  font-size: 14px;
                ">
                            <div style="
                    align-self: stretch;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 8px 0px;
                    box-sizing: border-box;
                    max-width: 100%;
                  ">
                                <div style="
                      flex: 1;
                      position: relative;
                      line-height: 150%;
                      display: inline-block;
                      max-width: 100%;
                    ">
                                    Popular
                                </div>
                            </div>
                            <div style="
                    align-self: stretch;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 8px 0px;
                    box-sizing: border-box;
                    max-width: 100%;
                  ">
                                <div style="
                      flex: 1;
                      position: relative;
                      line-height: 150%;
                      display: inline-block;
                      max-width: 100%;
                    ">
                                    Trending
                                </div>
                            </div>
                            <div style="
                    align-self: stretch;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 8px 0px;
                    box-sizing: border-box;
                    max-width: 100%;
                  ">
                                <div style="
                      flex: 1;
                      position: relative;
                      line-height: 150%;
                      display: inline-block;
                      max-width: 100%;
                    ">
                                    Contact
                                </div>
                            </div>
                            <div style="
                    align-self: stretch;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 8px 0px;
                    box-sizing: border-box;
                    max-width: 100%;
                  ">
                                <div style="
                      flex: 1;
                      position: relative;
                      line-height: 150%;
                      display: inline-block;
                      max-width: 100%;
                    ">
                                    Support/Help
                                </div>
                            </div>
                            <div style="
                    align-self: stretch;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 8px 0px;
                    box-sizing: border-box;
                    max-width: 100%;
                  ">
                                <div style="
                      flex: 1;
                      position: relative;
                      line-height: 150%;
                      display: inline-block;
                      max-width: 100%;
                    ">
                                    Request Topics
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 16px 0px;
                min-width: 221px;
                max-width: 100%;
              ">
                        <div style="
                  align-self: stretch;
                  position: relative;
                  line-height: 150%;
                  font-weight: 600;
                ">
                            Follow Us
                        </div>
                        <div style="
                  align-self: stretch;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  font-size: 14px;
                ">
                            <div style="
                    align-self: stretch;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 8px 0px;
                    gap: 0px 12px;
                  ">
                                <img style="
                      height: 24px;
                      width: 24px;
                      position: relative;
                      overflow: hidden;
                      flex-shrink: 0;
                      min-height: 24px;
                    "
                                     loading="lazy"
                                     alt=""
                                     src="./public/icon--facebook.svg" />

                                <div style="position: relative; line-height: 150%">
                                    Facebook
                                </div>
                            </div>
                            <div style="
                    align-self: stretch;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 8px 0px;
                    gap: 0px 12px;
                  ">
                                <img style="
                      height: 24px;
                      width: 24px;
                      position: relative;
                      overflow: hidden;
                      flex-shrink: 0;
                      min-height: 24px;
                    "
                                     loading="lazy"
                                     alt=""
                                     src="./public/icon--instagram.svg" />

                                <div style="position: relative; line-height: 150%">
                                    Instagram
                                </div>
                            </div>
                            <div style="
                    align-self: stretch;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 8px 0px;
                    gap: 0px 12px;
                  ">
                                <img style="
                      height: 24px;
                      width: 24px;
                      position: relative;
                      overflow: hidden;
                      flex-shrink: 0;
                      min-height: 24px;
                    "
                                     loading="lazy"
                                     alt=""
                                     src="./public/icon--twitter.svg" />

                                <div style="position: relative; line-height: 150%">
                                    Twitter
                                </div>
                            </div>
                            <div style="
                    align-self: stretch;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 8px 0px;
                    gap: 0px 12px;
                  ">
                                <img style="
                      height: 24px;
                      width: 24px;
                      position: relative;
                      overflow: hidden;
                      flex-shrink: 0;
                      min-height: 24px;
                    "
                                     loading="lazy"
                                     alt=""
                                     src="./public/icon--linkedin.svg" />

                                <div style="position: relative; line-height: 150%">
                                    LinkedIn
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="
            align-self: stretch;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 32px 0px;
            max-width: 100%;
            font-size: 14px;
            font-family: Roboto;
          ">
                <div style="
              align-self: stretch;
              height: 1px;
              position: relative;
              background-color: #fff;
            "></div>
                <div style="
              align-self: stretch;
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              justify-content: space-between;
              max-width: 100%;
              gap: 20px;
            ">
                    <div style="position: relative; line-height: 150%">
                        2024 COMP1640. All right reserved.
                    </div>
                    <div style="
                width: 345px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 0px 24px;
                max-width: 100%;
              ">
                        <div style="
                  position: relative;
                  text-decoration: underline;
                  line-height: 150%;
                ">
                            Privacy Policy
                        </div>
                        <div style="
                  flex: 1;
                  position: relative;
                  text-decoration: underline;
                  line-height: 150%;
                  display: inline-block;
                  min-width: 68px;
                ">
                            Terms of Service
                        </div>
                        <div style="
                  flex: 1;
                  position: relative;
                  text-decoration: underline;
                  line-height: 150%;
                  display: inline-block;
                  min-width: 68px;
                ">
                            Cookies Settings
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

<script src="~/js/site.js" asp-append-version="true"></script>
</html>
