@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*href="@Url.Action("Edit","ArticleModel", new {id = @ViewBag.Articles.Id})"*@;
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./Student Magazine Submitted.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700;900&display=swap" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/submit.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebEnterprise_1640.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="student-magazine-submitted">
        <header class="navbar-3">
            <div class="container">
                <div class="ddsgnr-library">
                    <div class="ddsgnr-library1">
                        <b class="bee-magazine">BEE MAGAZINE</b>
                    </div>
                </div>
                <div class="column">
                    <div class="row-card-content-title">
                        <div class="home">Home</div>
                    </div>
                    <button class="row-card-content-title1">
                        <div class="upload">Upload</div>
                    </button>
                </div>
                <div class="column1">
                    <div class="hi-ed">Hi, Ed</div>
                    <div class="column2">
                        <div class="button">
                            <div class="button1">Log out</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="blog-42">
            <div class="status-card-content">
                <div class="magazine-inf">
                    <div class="row">
                        <div class="card">
                            <div class="content">
                                <div class="title">
                                    <b class="article-title">Article title:</b>
                                </div>
                            </div>
                            <div class="content1">
                                <div class="title1">
                                    <div class="tech-terrain-navigating">
                                        @ViewBag.Articles.Name
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="card1">
                            <div class="content2">
                                <div class="title2">
                                    <b class="article-description">Article description: </b>
                                </div>
                            </div>
                            <div class="content3">
                                <div class="title3">
                                    <div class="lorem-ipsum-dolor">
                                        @ViewBag.Articles.Description
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="card2">
                            <div class="content4">
                                <div class="title4">
                                    <b class="date-submitted">Date submitted:</b>
                                </div>
                            </div>
                            <div class="content5">
                                <div class="title5">
                                    <div class="mar-15-2024-1100-am">@ViewBag.Articles.TimeSubmit</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row3">
                        <div class="card3">
                            <div class="content6">
                                <div class="title6">
                                    <b class="final-deadline">Final deadline:</b>
                                </div>
                            </div>
                            <div class="content7">
                                <div class="title7">
                                    <div class="may-10-2024-1159-pm">@ViewBag.Articles.TimeEnd</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="status-card-content1">
                    <div class="status">
                        <div class="card4">
                            <input class="content8" placeholder="Status:" type="text" />

                            <div class="content9">
                                <div class="title8">
                                    <div class="submitted">Submitted</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @foreach (var file in ViewBag.File)
                    {
                        <div class="file-submit">
                            <div class="card5">
                                <div class="content10">
                                    <div class="title9">
                                        <b class="file-submissions">File submissions:</b>
                                    </div>
                                </div>
                                <div class="content11">
                                    <div class="title10">
                                        <img class="title-child"
                                             alt=""
                                             src="./public/rectangle-8.svg" />

                                        <div class="comp1640-techterrrainnavigati">
                                            @file.File
                                        </div>
                                        <img class="icon"
                                             loading="lazy"
                                             alt=""
                                             src="./public/icon@2x.png" />

                                        <img class="title-item"
                                             loading="lazy"
                                             alt=""
                                             src="./public/line-2.svg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image">
                            <div class="card6">
                                <div class="content12">
                                    <div class="title11">
                                        <b class="image-file">Image File:</b>
                                    </div>
                                </div>
                                <div class="content13">
                                    <div class="title12">
                                        <img class="title-inner"
                                             alt=""
                                             src="./public/rectangle-8-1.svg" />

                                        <div class="landingpicturefortechterrrain">
                                            @file.Image
                                        </div>
                                        <img class="icon1" alt="" src="./public/icon-1@2x.png" />

                                        <img class="line-icon" alt="" src="./public/line-2-1.svg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="instagram-link">
                    <div class="twitter-link">
                        <a style="color:unset ;text-decoration:none" href="@Url.Action("Edit","ArticleModel", new {id = @ViewBag.Articles.Id})" class="edit-submit">
                            <img class="edit-submit-child"
                                 alt=""
                                 src="./public/rectangle-10.svg" />

                            <b class="edit-submission">Edit Submission</b>
                        </a>
                        <a style="color:unset ;text-decoration:none" href="@Url.Action("Delete","ArticleModel", new {id = @ViewBag.Articles.Id})" class="remove-submit">
                            <img class="remove-submit-child"
                                 alt=""
                                 src="./public/rectangle-10.svg" />

                            <b class="remove-submission">Remove Submission</b>
                        </a>
                    </div>
                </div>
            </div>
          
            <div class="privacy-policy-terms">
              
                <div class="comment">
                    <b class="feedback-comment">Feedback, comment</b>
                    <div class="ed-sheeran-parent">
                        <div class="ed-sheeran">Ed Sheeran:</div>
                        <div class="comment-content-wrapper">
                            <div class="comment-content">
                                <p class="good-point">Good point:</p>
                                <ul class="lorem-ipsum-dolor-sit-amet-co">
                                    <li class="lorem-ipsum-dolor1">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                        sint occaecat cupidatat non proident, sunt in culpa qui
                                        officia deserunt mollit anim id est laboru
                                    </li>
                                </ul>
                                <p class="need-to-improve">Need to improve:</p>
                                <ul class="lorem-ipsum-dolor-sit-amet-co1">
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="comment-box-parent">
                        <img class="comment-box-icon"
                             alt=""
                             src="./public/comment-box.svg" />

                        <img class="icon-lecture"
                             loading="lazy"
                             alt=""
                             src="./public/icon-lecture@2x.png" />

                        <img class="icon-time"
                             loading="lazy"
                             alt=""
                             src="./public/icon-time@2x.png" />
                    </div>
                    <div class="hour-ago-text">
                        <div class="hour-ago">1 hour ago</div>
                    </div>
                </div>
                <div class="comment-box-input">
                    <div class="comment1">
                        <img class="btn-send-icon"
                             loading="lazy"
                             alt=""
                             src="./public/btn-send@2x.png" />

                        <div class="comment-box-group">
                            <img class="comment-box-icon1"
                                 alt=""
                                 src="./public/comment-box-1.svg" />

                            <b class="add-a-comment">Add a comment:</b>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer-3">
            <div class="content14">
                <div class="newsletter">
                    <div class="ddsgnr-library2">
                        <div class="ddsgnr-library3">
                            <b class="comp1640">COMP1640</b>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="column3">
                        <div class="about-us">About Us</div>
                        <div class="footer-links">
                            <div class="link">
                                <div class="popular">Popular</div>
                            </div>
                            <div class="link1">
                                <div class="trending">Trending</div>
                            </div>
                            <div class="link2">
                                <div class="contact">Contact</div>
                            </div>
                            <div class="link3">
                                <div class="supporthelp">Support/Help</div>
                            </div>
                            <div class="link4">
                                <div class="request-topics">Request Topics</div>
                            </div>
                        </div>
                    </div>
                    <div class="column4">
                        <div class="follow-us">Follow Us</div>
                        <div class="social-links">
                            <div class="link5">
                                <img class="icon-facebook"
                                     loading="lazy"
                                     alt=""
                                     src="./public/icon--facebook.svg" />

                                <div class="facebook">Facebook</div>
                            </div>
                            <div class="link6">
                                <img class="icon-instagram"
                                     loading="lazy"
                                     alt=""
                                     src="./public/icon--instagram.svg" />

                                <div class="instagram">Instagram</div>
                            </div>
                            <div class="link7">
                                <img class="icon-twitter"
                                     loading="lazy"
                                     alt=""
                                     src="./public/icon--twitter.svg" />

                                <div class="twitter">Twitter</div>
                            </div>
                            <div class="link8">
                                <img class="icon-linkedin"
                                     loading="lazy"
                                     alt=""
                                     src="./public/icon--linkedin.svg" />

                                <div class="linkedin">LinkedIn</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider-line">
                <div class="divider"></div>
                <div class="row4">
                    <div class="comp1640-all-right">
                        2024 COMP1640. All right reserved.
                    </div>
                    <div class="link-collection">
                        <div class="privacy-policy">Privacy Policy</div>
                        <div class="terms-of-service">Terms of Service</div>
                        <div class="cookies-settings">Cookies Settings</div>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>