@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebEnterprise_1640.Models.search;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebEnterprise_1640</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/WebEnterprise_1640.styles.css" asp-append-version="true" />
</head>
<style>
    .fa-search:before{
        content: "\f002";
        /* background: gray; */
        font-size: 30px;
        color: gray;
        position: absolute;
        /* top: 150px; */
        /* left: 111px; */
        top: 61%;
        left: 4%;
        cursor:pointer;
    };
    .frame-divider{
        position:relative;
    }
 </style>
<body>
    @* <div class="student-magazine">
        <div class="navbar-3">
            <div class="container">
                <div class="ddsgnr-library">
                    <div class="ddsgnr-library1">
                        <b class="bee-magazine">BEE MAGAZINE</b>
                    </div>
                </div>
                <div class="column">
                    <div class="tech-terrain">
                        <div class="home">Home</div>
                    </div>
                    <button class="tech-terrain1">
                        <div class="upload">Upload</div>
                    </button>
                </div>
                <div class="column1">
                    <div class="hi-ed">Hi, Ed</div>
                    <div class="column2">
                        <div class="button">
                            <div class="button1">Log out</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="blog-42">
            <header class="frame-search-bar">
              
                <div style="position:relative" class="frame-divider">
                    <form asp-controller="Magazines" asp-action="Index" class="form-horizontal row-border" method="post" enctype="multipart/form-data">
                        <button style="display:contents" type="submit"><i style="" class="fa fa-search" aria-hidden="true"></i></button>    <div class="panel"></div> <input asp-for="searchKey" name="searchKey" style="height:50px" class="search">
                
                        
                    
                    </form>
                  
                     

                </div>
                <div class="title">
                    <div class="section-title">
                        <h1 class="latest-magazines">Latest Magazines</h1>
                    </div>
                </div>
            </header>
            <div class="row">
                @foreach (var item in ViewBag.Manazines)
                {
                    <a style="display:contents ; color:unset" href="@Url.Action("GetbyId","ArticleModel", new {id = @item.Id})">
                        <div class="card">
                            <div class="content">
                                <div class="title1">
                                    <h3 class="innovate-it-pioneering">
                                        @item.Name
                                    </h3>
                                    <div class="innovate-it-celebrates">
                                        @item.Description
                                    </div>
                                    <div class="deadline-to-submit-container">
                                        <ul class="deadline-to-submit-mar-15-202">
                                            <li>
                                                <b class="deadline-to-submit">Deadline to submit</b>
                                                <span>: Mar-15-2024 11:00 AM</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="final-deadline-mar-20-2024-container">
                                        <ul class="final-deadline-mar-20-2024-1">
                                            <li>
                                                @foreach (var day in ViewBag.Semeter)
                                                {
                                                    if (item.SemesterId == day.Id)
                                                    {
                                                        <b class="final-deadline">Final deadline:</b>
                                                        <span>@day.FinalClosureDate</span>
                                                    }

                                                }

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="section-title1">
                <h1 class="magazines-have-been">Magazines have been closed</h1>
            </div>
            <div class="row1">
                @foreach (var item2 in ViewBag.Manazine2)
                {
                    <a style="display:contents ; color:unset" href="@Url.Action("GetbyId","ArticleModel", new {id = @item2.Id})">
                        <div class="card">
                            <div class="content">
                                <div class="title1">
                                    <h3 class="innovate-it-pioneering">
                                        @item2.Name
                                    </h3>
                                    <div class="innovate-it-celebrates">
                                        @item2.Description
                                    </div>
                                    <div class="deadline-to-submit-container">
                                        <ul class="deadline-to-submit-mar-15-202">
                                            <li>
                                                <b class="deadline-to-submit">Deadline to submit</b>
                                                <span>: Mar-15-2024 11:00 AM</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="final-deadline-mar-20-2024-container">
                                        <ul class="final-deadline-mar-20-2024-1">
                                            <li>
                                                <b class="final-deadline">Final deadline:</b>
                                                <span> Mar-20-2024 11:00 PM</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </section>
        <footer class="footer-3">
            <div class="content5">
                <div class="newsletter">
                    <div class="ddsgnr-library2">
                        <div class="ddsgnr-library3">
                            <b class="comp1640">COMP1640</b>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="column3">
                        <div class="about-us">About Us</div>
                        <div class="footer-links">
                            <div class="link">
                                <div class="popular">Popular</div>
                            </div>
                            <div class="link1">
                                <div class="trending">Trending</div>
                            </div>
                            <div class="link2">
                                <div class="contact">Contact</div>
                            </div>
                            <div class="link3">
                                <div class="supporthelp">Support/Help</div>
                            </div>
                            <div class="link4">
                                <div class="request-topics">Request Topics</div>
                            </div>
                        </div>
                    </div>
                    <div class="column4">
                        <div class="follow-us">Follow Us</div>
                        <div class="social-links">
                            <div class="link5">
                                <img class="icon-facebook"
                                     loading="lazy"
                                     alt=""
                                     src="./public/icon--facebook.svg" />

                                <div class="facebook">Facebook</div>
                            </div>
                            <div class="link6">
                                <img class="icon-instagram"
                                     loading="lazy"
                                     alt=""
                                     src="./public/icon--instagram.svg" />

                                <div class="instagram">Instagram</div>
                            </div>
                            <div class="link7">
                                <img class="icon-twitter"
                                     loading="lazy"
                                     alt=""
                                     src="./public/icon--twitter.svg" />

                                <div class="twitter">Twitter</div>
                            </div>
                            <div class="link8">
                                <img class="icon-linkedin"
                                     loading="lazy"
                                     alt=""
                                     src="./public/icon--linkedin.svg" />

                                <div class="linkedin">LinkedIn</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="link-twitter">
                <div class="divider"></div>
                <div class="row2">
                    <div class="comp1640-all-right">
                        2024 COMP1640. All right reserved.
                    </div>
                    <div class="privacy-policy-terms-cookies-s">
                        <div class="privacy-policy">Privacy Policy</div>
                        <div class="terms-of-service">Terms of Service</div>
                        <div class="cookies-settings">Cookies Settings</div>
                    </div>
                </div>
            </div>



        
        
        
         *@


    <div class="body-content">

         <form style="display:contents" asp-controller="Magazines" asp-action="Index" class="form-horizontal row-border" method="post" enctype="multipart/form-data">
        <div class="search">
            <div class="search-panel">
                <div class="icon">
                        <i style="" class="fa fa-search" aria-hidden="true"></i> <input asp-for="searchKey" name="searchKey" style="height:50px" class="search">
                </div>
            </div>
        </div>
        </form>
        <div class="magazine-title">
            <div class="lastest">
                Latest Magazines
            </div>
        </div>
        <div class="magazine-1">
            @* view 1 *@
               @foreach (var item in ViewBag.Manazines)
                {
                    <a style="display:contents ; color:unset" href="@Url.Action("GetbyId","ArticleModel", new {id = @item.Id})">

                    <div class="magazine-content">
                        <div class="title">
                            @item.Name
                        </div>
                        <div class="content">
                            @item.Description
                        </div>
                        <div class="time">
                            <div class="deadline">
                                <li class="deadline-1">
                                    Deadline to submit:
                                </li>
                                <div class="deadline-2">
                                    Mar-15-2024 11:00 AM
                                </div>
                            </div>
                            <div class="final-deadline">
                                <li class="final-deadline-1">
                                    Final deadline:
                                </li>
                                <div class="final-deadline-2">
                                    @foreach (var day in ViewBag.Semeter)
                                    {
                                        if (item.SemesterId == day.Id)
                                        {
                                           
                                            <span>@day.FinalClosureDate</span>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                }
            @* end *@

        </div>
        <div class="magazine-title">
            <div class="lastest">
                Magazines have been closed
            </div>
        </div>
        <div class="magazine-1">
               @foreach (var item2 in ViewBag.Manazine2)
            {
                <a style="display:contents ; color:unset" href="@Url.Action("GetbyId","ArticleModel", new {id = @item2.Id})">

                    <div class="magazine-content">
                        <div class="title">
                            @item2.Name
                        </div>
                        <div class="content">
                            @item2.Description
                        </div>
                        <div class="time">
                            <div class="deadline">
                                <li class="deadline-1">
                                    Deadline to submit:
                                </li>
                                <div class="deadline-2">
                                    Mar-15-2024 11:00 AM
                                </div>
                            </div>
                            <div class="final-deadline">
                                <li class="final-deadline-1">
                                    Final deadline:
                                </li>
                                <div class="final-deadline-2">
                                    @foreach (var day in ViewBag.Semeter)
                                    {
                                        if (item2.SemesterId == day.Id)
                                        {
                                           
                                            <span>@day.FinalClosureDate</span>
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </a>

            }
           

           
        </div>
    </div>
     </body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</html>
